@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

body{
    background-color:hsl(0, 0%, 8%);
    font-family: "Inter";   
    font-size:14px;
}




.information-container{
    background: hsl(0, 0%, 12%);
    border: hsl(0, 0%, 12%);
    width: 350px;
    height: 600px;
    margin:auto;
    margin-top:30px;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

.social-links-profile{
    margin: 20px 0px 20px 0px;
    border-radius:50%;
}

.About-me{
    color: hsl(0, 0%, 100%);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow:column;
     
    .Name{
    font-size:24px;
    font-weight:100;
    font-weight:bold;
    margin-bottom:10px;
    }

    .Location{
    font-weight:bold;
    margin-bottom:20px;
    color:hsl(224, 80%, 62%)
    }

    .Occupation{
        margin-bottom:20px;
    }
}
ul{
    display: flex;
    flex-flow:column;
    margin: 0;
    padding: 0;
    gap: 0px;
}


 a, li{
    text-align:center;
    text-decoration:none;
    list-style-type:none;
    
}


button{
    cursor:pointer;
    background-color:hsl(0, 0%, 20%);
    color:white;
    border-radius: 8px;
    border: 1px solid hsl(0, 0%, 20%);
    padding: 14px 55px 14px 55px;
    margin-bottom:20px;
    font-size:15px;
    font-weight:bold;
}